h1{
    background-color: yellowgreen;
    border: 2px solid black;
}

@media (min-width: 400px) and (max-width: 700px){
    h1{
        background-color: orangered;
        color: white;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: palegreen;
    }
}

@media (orientation: landscape){
    h1{
        background-color: aqua;
        color: brown;
    }
}